extends ../layouts/default.pug

block variables
  - var pageTitle = "Главная страница";
  - var pageDesc = "";
  // - var ogType = "website|article";

block content
  section.section.intro
    .container
      .intro__wrapper
        +picture("img/intro-bg.png", "img/intro-bg-desktop.png", "img/intro-bg-desktop.png").intro__bg

        .intro__info
          h1.intro__title Первый&nbsp;заём без&nbsp;процентов
          span.intro__desc Оформи уже сегодня!

        .intro__calc.calc
          label.calc__label
            span 0
            .calc__input-block
              input.calc__input(type="range", min="0", max="100000", step="1000")
              .calc__badge
                span.calc__badge-inner 35 000 ₽
            span 100 000

          .calc__info
            span К возврату: 
            span 35 000 ₽

          span.calc__desc Гарантируем повышенное одобрение до 31.12.2024

        +button('a').intro__button(href="#") Оформить заявку

  section.section.benefits
    .container.container--sm
      .benefits__wrapper
        h2.benefits__title Займ - это просто

        .benefits__tabs.benefits-tabs
          .benefits-tabs__buttons
            .benefits-tabs__button.benefits-tabs__button--active(data-tab="1")
              span Как получить?
            .benefits-tabs__button(data-tab="2")
              span Как вернуть?

          .benefits-tabs__content
            .benefits-tabs__card.benefits-tabs-card.benefits-tabs-card--active(data-tab="1")
              .benefits-tabs-card__wrapper
                .benefits-tabs-card__items
                  .benefits-tabs-card__item.benefits-tabs-card-item
                    .benefits-tabs-card-item__icon(data-item="1")
                      +icon('pencil')(width="28", height="28")
                    h3.benefits-tabs-card-item__title Оформляете заявку
                    span.benefits-tabs-card-item__text Нужен только паспорт
  
                  .benefits-tabs-card__div
                    +icon('div')(width="3", height="48")
                    +icon('div-h')(width="342", height="3")
  
                  .benefits-tabs-card__item.benefits-tabs-card-item
                    .benefits-tabs-card-item__icon(data-item="2")
                      +icon('search')(width="28", height="28")
                    h3.benefits-tabs-card-item__title Дожидаетесь анализа
                    span.benefits-tabs-card-item__text Не дольше 5 минут
  
                  .benefits-tabs-card__div
                    +icon('div')(width="3", height="48")
                    +icon('div-h')(width="342", height="3")
  
                  .benefits-tabs-card__item.benefits-tabs-card-item
                    .benefits-tabs-card-item__icon(data-item="3")
                      +icon('db')(width="28", height="28")
                    h3.benefits-tabs-card-item__title Выбираете условия
                    span.benefits-tabs-card-item__text Получаете деньги*
  
                .benefits-tabs-card__text Приготовьте паспорт и освободите 10&nbsp;минут своего времени
  
                .benefits-tabs-card__button
                  +button('a')(href="#") Получить сейчас

            .benefits-tabs__card.benefits-tabs-card(data-tab="2")
              .benefits-tabs-card__wrapper
                .benefits-tabs-card__items
                  .benefits-tabs-card__item.benefits-tabs-card-item
                    .benefits-tabs-card-item__icon(data-item="1")
                      +icon('person')(width="28", height="28")
                    h3.benefits-tabs-card-item__title В личных кабинетах
                    span.benefits-tabs-card-item__text Картами VISA, MasterCard, Мир
  
                  .benefits-tabs-card__div
                    +icon('div')(width="3", height="48")
                    +icon('div-h')(width="342", height="3")
  
                  .benefits-tabs-card__item.benefits-tabs-card-item
                    .benefits-tabs-card-item__icon(data-item="2")
                      +icon('card')(width="28", height="28")
                    h3.benefits-tabs-card-item__title Банковский перевод
                    span.benefits-tabs-card-item__text Из любого удобного банка
  
                  .benefits-tabs-card__div
                    +icon('div')(width="3", height="48")
                    +icon('div-h')(width="342", height="3")
  
                  .benefits-tabs-card__item.benefits-tabs-card-item
                    .benefits-tabs-card-item__icon(data-item="3")
                      +icon('pin')(width="28", height="28")
                    h3.benefits-tabs-card-item__title В пунктах обслуживания
                    span.benefits-tabs-card-item__text Оплачивая через терминалы
  
                .benefits-tabs-card__text Вы можете вернуть деньги любым удобным способом: от банковского перевода до оплаты картой.
  
                .benefits-tabs-card__button
                  +button('a')(href="#") Получить сейчас

              span.benefits-tabs-card__desc Условия возврата могут отличаться в зависимости от выбранной вами микрофинансовой компании

        .benefits__slider.benefits-slider
          .benefits-slider__item
            h3.benefits-slider__title Не беспокоим близких
            span.benefits-slider__desc Не звоним родственникам и коллегам
          .benefits-slider__item
            h3.benefits-slider__title Работаем 24/7
            span.benefits-slider__desc Работаем круглые сутки и без выходных. В дождь и снег
          .benefits-slider__item
            h3.benefits-slider__title Можете нам доверять
            span.benefits-slider__desc Мы ничего не передаем без вашего ведома
          .benefits-slider__item
            h3.benefits-slider__title Удобное погашение
            span.benefits-slider__desc С нами вы гасите займ без комиссии

  section.section.requirements
    .container.container--sm
      .requirements__wrapper
        .requirements__info
          h2.requirements__title Что нужно для быстрого&nbsp;займа?
          span.requirements__desc Требования к потенциальному заемщику
          +picture("img/pig.png", "img/pig-desktop.png", "img/pig-desktop.png").requirements__image

        .requirements__items
          .requirements__item.requirements-item
            .requirements-item__row
              .requirements-item__col
                .requirements-item__icon
                  +icon('passport')(width="18", height="18")
                .requirements-item__icon.requirements-item__icon--sm
                  +icon('div-sm')(width="3", height="18")
                .requirements-item__icon.requirements-item__icon--lg
                  +icon('div-lg')(width="3", height="62")
  
              .requirements-item__col
                h3.requirements-item__title Паспорт РФ
                span.requirements-item__desc Jorem ipsum dolor sit amet, consectetur 
                .requirements-item__spacer

          .requirements__item.requirements-item
            .requirements-item__row
              .requirements-item__col
                .requirements-item__icon
                  +icon('card')(width="18", height="18")
                .requirements-item__icon.requirements-item__icon--sm
                  +icon('div-sm')(width="3", height="18")
                .requirements-item__icon.requirements-item__icon--lg
                  +icon('div-lg')(width="3", height="62")
  
              .requirements-item__col
                h3.requirements-item__title Банковская карта
                span.requirements-item__desc Jorem ipsum dolor sit amet, consectetur
                .requirements-item__spacer

          .requirements__item.requirements-item
            .requirements-item__row
              .requirements-item__col
                .requirements-item__icon
                  +icon('card-fill')(width="18", height="18")
                .requirements-item__icon.requirements-item__icon--sm
                  +icon('div-sm')(width="3", height="18")
                .requirements-item__icon.requirements-item__icon--lg
                  +icon('div-lg')(width="3", height="62")
  
              .requirements-item__col
                h3.requirements-item__title СНИЛС (опционально)
                span.requirements-item__desc Jorem ipsum dolor sit amet, consectetur 
                .requirements-item__spacer

          .requirements__item.requirements-item
            .requirements-item__row
              .requirements-item__col
                .requirements-item__icon
                  +icon('wifi')(width="18", height="18")
                .requirements-item__icon.requirements-item__icon--sm
                  +icon('div-sm')(width="3", height="18")
                .requirements-item__icon.requirements-item__icon--lg
                  +icon('div-lg')(width="3", height="62")
  
              .requirements-item__col
                h3.requirements-item__title Доступ в интернет
                span.requirements-item__desc Jorem ipsum dolor sit amet, consectetur 
                .requirements-item__spacer

          .requirements__item.requirements-item
            .requirements-item__row
              .requirements-item__col
                .requirements-item__icon
                  +icon('18-up')(width="18", height="18")
                .requirements-item__icon.requirements-item__icon--sm
                  +icon('div-sm')(width="3", height="18")
                .requirements-item__icon.requirements-item__icon--lg
                  +icon('div-lg')(width="3", height="62")
  
              .requirements-item__col
                h3.requirements-item__title Возраст от 18 лет
                span.requirements-item__desc Jorem ipsum dolor sit amet, consectetur 
                .requirements-item__spacer

          .requirements__item.requirements-item
            .requirements-item__row
              .requirements-item__col
                .requirements-item__icon
                  +icon('phone')(width="18", height="18")
  
              .requirements-item__col
                h3.requirements-item__title Мобильный телефон
                span.requirements-item__desc Jorem ipsum dolor sit amet, consectetur 

  section.section.docs
    .container.container--sm
      .docs__wrapper
        .docs__info
          .docs__top
            .docs__icon
              +icon('rkn')(width="38", height="38")
            h2.docs__title Номер свидетельства №1227400043749 от 08.11.2022

          span.docs__text
            strong
              a(href="/") Woffle.ru 
            | зарегистрирован в реестре РКН, как оператор персональных данных 
          span.docs__text Регистрационный. номер: 
            br
            strong 78-21-008269

        .docs__contacts.docs-contacts
          hr.docs-contacts__line

          .docs-contacts__items
            .docs-contacts__row
              .docs-contacts__col
                .docs-contacts__icon
                  +icon('phone-fill')(width="8", height="8")

              .docs-contacts__col
                  span.docs-contacts__desc Интернет-приёмная Банка России:
                  a.docs-contacts__link(href="https://www.cbr.ru/reception") https://www.cbr.ru/reception

            .docs-contacts__row
              .docs-contacts__col
                .docs-contacts__icon
                  +icon('coin')(width="8", height="8")

              .docs-contacts__col
                  span.docs-contacts__desc Реестр МФО на сайте Банка России: 
                  a.docs-contacts__link(href="https://cbr.ru/microfinance/registry") https://cbr.ru/microfinance/registry

            .docs-contacts__row
              .docs-contacts__col
                .docs-contacts__icon
                  +icon('bank')(width="8", height="8")

              .docs-contacts__col
                  span.docs-contacts__desc Банк России:
                  a.docs-contacts__link(href="https://cbr.ru") https://cbr.ru

  section.section.ways
    .container.container--sm
      .ways__wrapper
        h2.ways__title Способы получения
        span.ways__desc Мгновенно. Круглосуточно. На&nbsp;любой&nbsp;счет.

        .ways__cards
          .ways__card
            +icon('mastercard')(width="80", height="34")
          .ways__card
            +icon('visa')(width="80", height="34")
          .ways__card
            +icon('mir')(width="80", height="34")

        +button('a').ways__button Оформить заявку
