extends ../layouts/default.pug

block variables
  - var pageTitle = "Витрина предложений";
  - var pageDesc = "";
  // - var ogType = "website|article";

block content
  section.section.offers
    .container.container--sm
      .offers__wrapper
        .offers__main
          h1.offers__title Анкета рассмотрена
  
          span.offers__text
            strong Иван Иванович
            | , сейчас мы не можем предложить вам займ, но эти партнерские МФО уже сообщили, что могут предоставить вам займ в размере до 
            strong 10800 руб. 
            | Подтвердите анкету и заберите деньги!
  
          .offers__info
            span Подтвердите заявку для получения денег
            +icon('arrow-down')(width="20", height="20")
  
          .offers__cards
            .offers-card
              .offers-card__badge
                span Займ бесплатно

              +picture("img/offer-card-logo-1.png", "img/offer-card-logo-1-desktop.png", "img/offer-card-logo-1-desktop.png").offers-card__logo

              hr.offers-card__line

              .offers-card__data
                .offers-card__info
                  span.offers-card__text Займ до:
                  strong.offers-card__value 30 000 ₽
                .offers-card__info
                  span.offers-card__text Срок до:
                  strong.offers-card__value 30 дней
                .offers-card__info
                  span.offers-card__text Одобрение:
                  +icon('arrow-up-fill').offers-card__arrow(width="5", height="5")
                  strong.offers-card__value.offers-card__value--good 87 %
                  
              +button('a', 'accent-orange-reverse').offers-card__button(type="button") Подтвердить заявку

            .offers-card
              .offers-card__badge
                span Высокое одобрение

              +picture("img/offer-card-logo-2.png", "img/offer-card-logo-2-desktop.png", "img/offer-card-logo-2-desktop.png").offers-card__logo

              hr.offers-card__line

              .offers-card__data
                .offers-card__info
                  span.offers-card__text Займ до:
                  strong.offers-card__value 30 000 ₽
                .offers-card__info
                  span.offers-card__text Срок до:
                  strong.offers-card__value 15 дней
                .offers-card__info
                  span.offers-card__text Одобрение:
                  +icon('arrow-up-fill').offers-card__arrow(width="5", height="5")
                  strong.offers-card__value.offers-card__value--good 87 %

              +button('a', 'accent-orange-reverse').offers-card__button(type="button") Подтвердить заявку

            .offers-card
              .offers-card__badge
                span Высокое одобрение

              +picture("img/offer-card-logo-3.png", "img/offer-card-logo-3-desktop.png", "img/offer-card-logo-3-desktop.png").offers-card__logo

              hr.offers-card__line

              .offers-card__data
                .offers-card__info
                  span.offers-card__text Займ до:
                  strong.offers-card__value 100 000 ₽
                .offers-card__info
                  span.offers-card__text Срок до:
                  strong.offers-card__value 30 дней
                .offers-card__info
                  span.offers-card__text Одобрение:
                  +icon('arrow-down-fill').offers-card__arrow(width="5", height="5")
                  strong.offers-card__value.offers-card__value--bad 80 %

              +button('a', 'accent-orange-reverse').offers-card__button(type="button") Подтвердить заявку

            .offers-card
              .offers-card__badge
                span Высокое одобрение

              +picture("img/offer-card-logo-4.png", "img/offer-card-logo-4-desktop.png", "img/offer-card-logo-4-desktop.png").offers-card__logo

              hr.offers-card__line

              .offers-card__data
                .offers-card__info
                  span.offers-card__text Займ до:
                  strong.offers-card__value 30 000 ₽
                .offers-card__info
                  span.offers-card__text Срок до:
                  strong.offers-card__value 7 дней
                .offers-card__info
                  span.offers-card__text Одобрение:
                  +icon('arrow-down-fill').offers-card__arrow(width="5", height="5")
                  strong.offers-card__value.offers-card__value--bad 81 %

              +button('a', 'accent-orange-reverse').offers-card__button(type="button") Подтвердить заявку

            .offers-card
              .offers-card__badge
                span Высокое одобрение

              +picture("img/offer-card-logo-5.png", "img/offer-card-logo-5-desktop.png", "img/offer-card-logo-5-desktop.png").offers-card__logo

              hr.offers-card__line

              .offers-card__data
                .offers-card__info
                  span.offers-card__text Займ до:
                  strong.offers-card__value 30 000 ₽
                .offers-card__info
                  span.offers-card__text Срок до:
                  strong.offers-card__value 105 дней
                .offers-card__info
                  span.offers-card__text Одобрение:
                  +icon('arrow-up-fill').offers-card__arrow(width="5", height="5")
                  strong.offers-card__value.offers-card__value--good 90 %

              +button('a', 'accent-orange-reverse').offers-card__button(type="button") Подтвердить заявку

            .offers-card
              .offers-card__badge
                span Высокое одобрение

              +picture("img/offer-card-logo-6.png", "img/offer-card-logo-6-desktop.png", "img/offer-card-logo-6-desktop.png").offers-card__logo

              hr.offers-card__line

              .offers-card__data
                .offers-card__info
                  span.offers-card__text Займ до:
                  strong.offers-card__value 25 000 ₽
                .offers-card__info
                  span.offers-card__text Срок до:
                  strong.offers-card__value 15 дней
                .offers-card__info
                  span.offers-card__text Одобрение:
                  +icon('arrow-up-fill').offers-card__arrow(width="5", height="5")
                  strong.offers-card__value.offers-card__value--good 82 %

              +button('a', 'accent-orange-reverse').offers-card__button(type="button") Подтвердить заявку
  
          span.offers__text Не подошли условия? Посмотрите другие МФО!
          +button().offers__button Смотреть другие МФО

        .offers__footer
          .offers__footer-top
            hr.offers__line
            span 4400
            hr.offers__line

          span Займов одобрено сегодня

