@use "sass:map";

.container {
  width: 100%;
  max-width: map.get($container-sizes, xxxl);
  margin: 0 auto;
  padding: 0 $container-grid;
}

@include from(sm) {
  .container {
    padding: 0 $container-grid * 2;
  }
}
